<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Listado Clientes</title>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/estilogeneral.css}">
</head>
<body>
	<div id="menu">
		<ul>
			<li><a th:href="@{/listarUsuarios}">usuarios</a></li>
			<li><a th:href="@{listarClientes}">clientes</a></li>
			<li><a th:href="@{listarProveedores}">proveedores</a></li>
			<li><a th:href="@{listarProducto}">productos</a></li>
			<li><a href="">ventas</a></li>
		</ul>	
		
	</div>
		<div class="container mt=4">
		
			<table>
				<thead>
					<tr>
						<th>CEDULA</th>
						<th>NOMBRE</th>
						<th>DIRECCION</th>
						<th>TELEFONO</th>
						<th>CORREO</th>
						<th>ACCIONES</th>
					</tr>
				</thead>
				<tbody>
	  				<tr th:each="p:${Clientes}">
						<td th:text="${p.Cedula_Cli}"></td> 
						<td th:text="${p.Nombre_Cli}"></td>
						<td th:text="${p.Direccion_Cli}"></td>
						<td th:text="${p.Telefono_Cli}"></td>
						<td th:text="${p.Correo_Cli}"></td>
						<td>		
						<a id="btn_editar" th:href="@{/editarCliente/}+${p.Cedula_Cli}"class="btn btn-warning" >Editar</a>
						<a id="btn_eliminar" th:href="@{/eliminarCliente/}+${p.Cedula_Cli}"class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
					<tr>
					<td colspan="6"><a id="btn_nuevo" th:href="@{/crearCliente}" class="btn btn-primary">Ingresar Nuevo Cliente</a></td>
					</tr>
				</tbody>
			

			</table>
		</div>
</body>
</html>